# Built files
/build/
*/build/

# Gradle
.gradle/
**/local.properties
!gradle-wrapper.jar

# Signing files
**/signing.properties

# Android Studio
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/misc.xml
!.idea/vcs.xml
.idea/*workspace.xml
.idea/*/*.iml
*.iml

# Keystore files
*.jks
*.keystore

# Other files
*.log
*.tmp
*.bak
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db

# IntelliJ
out/

# Crashlytics / Firebase
crashlytics-build.properties

# Local test reports
/test-output/
